<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formular so Get povik</title>
  </head>
  <body>
    <form action="/analiza" method="post">
      <textarea
        name="tekst"
        id=""
        cols="30"
        rows="10"
        placeholder="Внесете Текст"
        required
      ></textarea
      ><br />
      <button type="submit">Анализирај Текст</button>
    </form>
  </body>
</html>
