<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rezultati so Post Povik</title>
  </head>
  <body>
    <p>Вкупен број на карактери: {data1}</p>
    <hr />
    <p>Вкупен број на зборови помали од 5 карактери: {data2}</p>
    <hr />
    <p>Вкупен број на зборови поголеми од 5 карактери: {data3}</p>
    <hr />
    <p>Вкупен број на зборови еднакви на 5 карактери: {data4}</p>
    <hr />
    <p>Број на реченици: {data5}</p>
    <hr />
    <p>Број на зборови: {data6}</p>
    <hr />
    <p>
      Број на зборови кои почнуваат на една од следниве букви: а, о, у, и, е:
      {data7}
    </p>
  </body>
</html>
