<header>
  <h1 style="text-align: center">Express and Ejs Homework</h1>
  <hr />
  <nav style="text-align: center">
    <a href="/form">Формулар</a>
    <a href="/studenti">Студенти</a>
  </nav>
</header>
<hr />
